<div class="hero" style="width: 100%;height: 100%; padding-left: 5%;padding-right: 5%;">
  <h1 style="margin-bottom: 20px;">
    <a href="/streaming">List of Streamers</a>
    <a href=""> modelName</a>
    <i> fileName</i></h1>
  <div class="text-center" style="height: 600px;">
    <div class="row">
      <div class="col">
        <video controls="" height="315" style="width: 75%;height: 100%;" width="560">
          <source [src]="link" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input style="width: 24px;height: 24px;" id="fav+${vidID}"
               onclick="updateFavorites([[${vidID}]], 0)" src="/assets/img/not_favorite.png"
               type="image">
        <form action="downloadLink">
          <label style="color: rgb(255,255,255);margin-left: 10px;"
                 [textContent]="'file size'"></label>
          <input class="btn btn-primary" style="margin-left: 10px;" type="submit" value="download">
        </form>
      </div>
    </div>
  </div>
</div>
