<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="holder">
  <h1 style="padding: 30px;">
    Control Panel
  </h1>
  <br>
  <table width="100%">
    <tr>
      <td>Send an invitation to </td>
     <input type="text" id="textf" style="margin-right: 200px; margin-top: 8px; margin-bottom: 0;" placeholder="Enter an email..">
     <td>
      <div>
        <button>Send</button>
          <span></span>
      </div>
    </td>
    </tr>
    
    <tr>
      <td>Registration Enabled</td>
      <td>
        <div>
          <input type="checkbox" />
            <span></span>
        </div>
      </td>
    </tr>
    <tr>
      <td>Default number of elements to display</td>
      <td>
        <div>
          <input type="number" style="width: 55px; position: relative; left: 5%; " >
            <span></span>
        </div>
      </td>
    </tr>

    <tr>
      <td>Delete videos older than (days) </td>
      <td>
        <div>
          <input type="number" style="width: 55px; position: relative; left: 5%; " >
            <span></span>
        </div>
      </td>
    </tr>

    <tr>
      <td>Preferred video resolution  </td>
     
     <td>
      <div>    
          <input type="text" id="textf" style="position:relative; right: 150px;" placeholder="720p ,1080p ,Highest quality">              
            <span></span>
      </div>
    </td>
    </tr>


    <tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Save Settings" >
      </td>
    </tr>
  </table>



</div>

