<!--

<div class="container hero">
  <h1 class="text-white" [textContent]="'temp\'s profile'"></h1>
  <table class="table table-borderless">
    <thead class="text-center">
    <tr style="width: 100%;">
      <th class="text-white" colspan="2">Settings</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-left text-white">Email</td>
      <td class="text-center"><input id="userProfileEmail"
                                     onkeyup="checkEmail(this)"
                                     style="width: 200px; text-align: center;"
                                     value="banana@nono.com" type="email"></td>
    </tr>
    <tr>
      <td class="text-left text-white">Change Password</td>
      <td class="text-center"><input data-html="true" id="userProfilePassword"
                                     onkeyup="checkPassword(this)"
                                     style="width: 200px; text-align: center;"
                                     [ngbTooltip]="'password needs to fulfill the following\n'+
                                                       '1-At least one digit\n\r\n'+
                                                       '2-At least one lowercase character\n'+
                                                       '3-At least one uppercase character\n'+
                                                       '4-At least one special character\n'+
                                                       '5-8 or more characters, max 32'"
                                     type="password"></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-primary btn-block" onclick="saveProfileChanges()">Save Changes</button>
</div>
--->




<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
      <link rel="stylesheet" href="user-profile.component.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title" style="font-size: 20px;">
            Change your password  
         </div>
         <form action="#">
            <div class="field">
               <input type="text" required>
               <label>Email Address</label>
            </div>
            <div class="field">
               <input type="password" required>
               <label>Old Password</label>
            </div>

            <div class="field" >
             <input type="password" required>
              <label>New Password</label>
           </div>
           <div class="field">
           <input type="password" required>
            <label>Confirm Password</label>
         </div>
            <br>
                      <div class="field">
               <input type="submit" value="Save Changes">
            </div>
         </form>
      </div>
   </body>
   <div id="reqsDATA">
    please make sure your password includes :
    <br>
    8-32 chars <br>
    one upper case<br>
    one small case<br>
    one special<br>
    one number
   </div>
</html>