<nav>
  <ul class="pagination" style="justify-content: center;">
    <li class="page-item" id="previous" style="width: 34px;height: 38px;">
      <a aria-label="Previous" class="page-link" href="pre">
        <span aria-hidden="true">‹</span>
      </a>
    </li>
    <li class="page-item" id="first" style="width: 34px;height: 38px;">
      <a aria-label="First" class="page-link" href="first">
        <span aria-hidden="true">1</span>
      </a>
    </li>
    <li class="page-item">
      <a aria-label="Last" class="page-link" href="mid">
        <span aria-hidden="true" [textContent]="'num'">2</span>
      </a>
    </li>
    <li class="page-item" id="last" style="width: 34px;height: 38px;">
      <a aria-label="Last" class="page-link" href="last">
        <span aria-hidden="true" [textContent]="'num'">3</span>
      </a>
    </li>
    <li class="page-item" id="next" style="width: 34px;height: 38px;">
      <a aria-label="Next" class="page-link" href="next">
        <span aria-hidden="true">›</span>
      </a>
    </li>
  </ul>
</nav>
