  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    
<div class="container">
    <div class="row">    
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-image">
                    <div class="embed-responsive embed-responsive-16by9">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZnSx-k1yk9M" frameborder="0" allowfullscreen></iframe>
</div>
                    
                </div><!-- card image -->
                
                <div class="card-content">
                    <div class="card-footer">
                        <button class="like-button">Add to Favorite</button>  
                      </div>                   
                    
                </div><!-- card content -->
                
                
            </div>
        </div>
       
     
    </div>


</div>